.form-new-event-container {
  visibility: hidden;
  position: absolute;
  margin-top: 10vh;
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;

  justify-self: center;
  height: 80vh;
  width: 80vw;
  top: 0;
  z-index: 999;
  max-width: 85%;
  padding: 30px;
  background: #fff;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;

  button {
    background-color: #5cb85c;
    color: white;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
}

.form-content {
  width: 100%;
  height: 100%;
}

.input-horario-evento-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-content: center;
  label {
    height: fit-content;
  }
}

#currentDateTitle {
  text-align: center;
}
#selectedDate{
  text-align: left;
  width: min-content;
  font-weight: bolder;
}

select,
input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="checkbox"] {
  padding: 0;
  margin: 0;
  text-align: right;
  width: 30px;
}
