<!-- 
                <div id="agendar-evento-container">
                    
                </div> -->
<!-- 
                <div>
                <div id="cliente-date-info" class="section-date-info">
                    <h4 class="title-section-date-info"><span>Cliente</span></h4>

                    <div class="input-wrapper">
                        <label class="label-input">Nombre</label><br>
                        <input class="input-text autoInput" type="text" value="Cesar Alejandro Vazquez Soto"
                            oninput="ajustarAncho()">
                        <span class="medidor"></span><br>
                    </div>

                    <div class="input-wrapper">
                        <label class="label-input">Dirección</label><br>
                        <input class="input-text autoInput" type="text" value="Reforma 2007 Sur. Colonia Fundadores"
                            oninput="ajustarAncho()">
                        <span class="medidor"></span><br>
                    </div>

                    <div class="input-wrapper">
                        <label class="label-input">Teléfono</label><br>
                        <input class="input-text autoInput" type="text" value="867 326 4533" oninput="ajustarAncho()">
                        <span class="medidor"></span><br>
                    </div>
                </div>


                <div class="section-date-info">
                    <h4 class="title-section-date-info"><span>Evento</span></h4>


                    <div class="input-wrapper">
                        <label class="label-input">Costo</label><br>
                        <input class="input-text autoInput" type="text" value="$2,500" oninput="ajustarAncho()">
                        <span class="medidor"></span><br>
                    </div>


                    <div class="input-wrapper">
                        <label class="label-input">Ultimo Anticipo</label><br>
                        <input class="input-text autoInput" type="text" value="$1,700" oninput="ajustarAncho()">
                        <span class="medidor"></span><br>
                    </div>


                </div>

                <div id="nota-date-info" class="">
                    <h4 class="title-section-date-info"><span>Notas</span></h4>
                    <textarea name="" id="">Primeras fases del diseño del view</textarea>
                </div>
                </div> -->





<!--    <div id="form-new-evento" class="form-new-event-container">-->

<!--        <form id="form-Nuevo-Evento" class="form-content">-->
<!--            <h2 class="title-section-date-info">Agendar Nuevo Evento</h2>-->
<!--            <h3 id="currentDateTitle">27/Oct/2025</h3>-->

<!--            <div class="input-horario-evento-container">-->
<!--                <label for="">Ocupa Dos Dias</label>-->
<!--                <input type="checkbox" id="ocupaDosDias" name="ocupaDosDias">-->
<!--            </div>-->

<!--            <label for="horaInicio">Horario Inicio</label>-->
<!--            <input type="time" id="horarioInicio" name="horaInicio" value="16:00" required>-->

<!--            <label for="horaFin">Horario Fin</label>-->
<!--            <input type="time" id="horarioFin" name="horaFin" value="23:00" required>-->


<!--            <div class="input-horario-evento-container">-->


<!--                <label for="decorar">Decorar</label>-->
<!--                <input type="checkbox" id="decorar" name="decorar" checked>-->
<!--                <label for="esEspecial">Especial</label>-->
<!--                <input type="checkbox" id="esEspecial" name="esEspecial">-->

<!--                <label for="HorasExtras">Horas Extras</label>-->
<!--                <input type="number" id="horasExtras" name="horasExtras" step="1" min="0" max="100" value="0"-->
<!--                    data-toggle="costoPorHora">-->

<!--                <label for="costoPorHora" class="ocultar-default">Costo P/Hora</label>-->
<!--                <input class="ocultar-default" type="number" id="costoPorHora" name="costoPorHora" step="any" min="0"-->
<!--                    max="9999" value="350">-->
<!--            </div>-->


<!--            <label for="saldo">Costo</label>-->
<!--            <input type="number" id="costoEvento" name="costoEvento" value="$500" min="0" placeholder="$"-->
<!--                data-toggle="anticipo">-->

<!--            <label for="anticipo" class="ocultar-default">Anticipo</label>-->
<!--            <input class="ocultar-default" type="number" id="anticipo" name="anticipo" value="0" placeholder="$" min="0"-->
<!--                data-toggle="moneda tasaCambio">-->
<!--            <div class="input-horario-evento-container">-->

<!--                <label for="moneda" class="ocultar-default">Moneda</label>-->
<!--                <select id="moneda" name="moneda" class="ocultar-default" required>-->
<!--                    <option value="MXN" selected>MXN</option>-->
<!--                    <option value="USD">USD</option>-->
<!--                </select>-->

<!--                <label for="tasaCambio" class="ocultar-default">Tasa cambio</label>-->
<!--                <input type="number" class="ocultar-default" id="tasaCambio" name="tasaCambio" step="any" min="0"-->
<!--                    max="9999" value="18.50" placeholder="$" required>-->
<!--            </div>-->


<!--            <h3 class="title-section-date-info">Cliente</h3>-->
<!--            <label for="telefono">Teléfono</label>-->
<!--            <input type="text" id="telefono" name="telefono" pattern="[0-9]{10}"-->
<!--                title="Debe contener 10 dígitos numéricos." required>-->
<!--            <label for="correo">Correo</label>-->
<!--            <input type="email" id="correo" name="correo">-->
<!--            <label for="direccion">Dirección</label>-->
<!--            <input type="text" id="direccion" name="direccion" required>-->


<!--            <div class="input-horario-evento-container">-->
<!--                <div>-->
<!--                    <label for="">Colonia</label>-->
<!--                    <select id="colonia" name="colonia" required>-->
<!--                        <option value="Mirador" selected>Mirador</option>-->

<!--                    </select>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <label for="numeroExterior">Num. Exterior</label>-->
<!--                    <input type="text" id="numeroExterior" name="numeroExterior" placeholder="#" required>-->
<!--                </div>-->

<!--            </div>-->


<!--            <label for="nombreCliente">Nombre</label>-->
<!--            <input type="text" id="nombreCliente" name="nombreCliente" required>-->
<!--            <label for="">Apellido Paterno</label>-->
<!--            <input type="text" id="apellidoPaternoCliente" name="apellidoPaternoCliente" required>-->
<!--            <label for="">Apellido Materno</label>-->
<!--            <input type="text" id="apellidoMaternoCliente" name="apellidoMaternoCliente">-->



<!--            <div id="nota-date-info" class="">-->
<!--                <h4 class="title-section-date-info"><span>Notas</span></h4>-->
<!--                <textarea name="notaEvento" id="notaEvento">Primeras fases del diseño del view</textarea>-->
<!--            </div>-->
<!--            <p id="warning-ocupada-dos-dias" class="warning ocultar-default">El evento ocupa dos dias seguidos-->
<!--            </p>-->
<!--            <button class="submit-button" type="submit">Guardar Evento</button>-->
<!--        </form>-->

<!--    </div>-->