custom-nav {
  nav {
    background-color: #444444;
    height: 7vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  #nav-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  * {
    margin: 0;
    padding: 0;
  }

  #dropdown-menu {
    color: white;
    margin-left: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;

    button {
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.warning {
  background-color: rgb(255, 184, 91);
  border-radius: 5px;
  color: rgb(63, 63, 63);
  font-weight: bolder;
  padding: 5px;
  text-align: center;
}

.message-info {
  background-color: #72ff6d;
  border-radius: 5px;
  color: #272727;
  font-weight: bolder;

  width: fit-content;
  padding: 10px;
}

.title-section-date-info {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #b1b1b1;
  span {
    font-size: 0.9em;
    font-weight: normal;
    color: #4e4e4e;
  }
}

.input-text {
  height: 30px;
  border-radius: 8px;
  border: solid 1px #d4d4d4;
  padding: 6px;
  font-size: 14px;
  margin-bottom: 10px;
  width: auto;
  min-width: 50px;
}

/* #btn-agendar-evento{
  background-color: #5cb85c;
  color: white;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 16px;
  cursor: pointer;
} */

.line-component {
  width: 50px;
  height: 2px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 0 auto 0 auto;
}

.submit-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto 60px auto;
  display: block;
}
